* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100vh;
}

.todolist {
  align-content: center;
  background-color: white;
}

.todoComp {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.todoComp:hover {
  background-color: #f9f9f9;
}
